.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
}
input {
    margin-left: 2px;
}
.selectContainer {
    width: 100%;
}
img {
    margin-top: 5%;
    max-width: 100%;
    height: auto;
}
